# This file defines crate dependency policies for this project
# See https://embarkstudios.github.io/cargo-deny/

[graph]
targets = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
deny = []

[advisories]
version = 2
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "warn"
ignore = []

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-DFS-2016",
    "CC0-1.0",
]
confidence-threshold = 0.8
exceptions = []

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []