name: Markdownlint
on:
  pull_request:
    paths: ["**/*.md", ".markdownlint.jsonc"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm -g i markdownlint-cli2
      - run: markdownlint-cli2 "**/*.md"
